.article {
    height: 81vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.header {
    color: white;
    text-align: start;
    width: 550px;
}
h1{
 font-size: 60px;
}
.book{
    width: 100% !important;
    height: 150px;
    padding: 20px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}
@media screen and(max-width:991px) {
    .book{
        height: 120px !important;
    }
}